* {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Comforter', cursive;
    font-size: 72px;
}

#background {
    background-image: url(..//valdemaras.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

.done {
    text-decoration: line-through;
    /* color: green; */
}